*{
  bottom: 0;
  padding: 0;
  margin: 0;
}

body {
  background-color: rgb(170, 238, 255);
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

h1 {
  text-align: center;
  align-items: center;
  justify-content: center;
  padding: 15px 30px;
  color: rgb(217, 255, 0);
  background-color: rgb(110, 193, 248);
  font-size: 100px;
}

.choices {
  border: 2px solid #333;           
  background: #67d3ee;  
}

.choice {
 display: inline-block;
 margin: 20px;
 border: 10px solid rgb(0, 0, 0);
 border-radius: 1000px;
 box-sizing: border-box;
 overflow: hidden;
 width: 260px;
height: 250px;
}

.choice img {
  width: 260px;
  height: 250px;
  cursor: pointer;
}

.user-choice, .comp-choice {
  display: inline-block;
  margin: 20px;
  font-size: 24px;
  font-weight: bold;
  width: 100px;
}

.user-choice p, .comp-choice p {
  margin: 5px 0;
  font-size: 30px;
}

.result {
  font-size: 40px;
  font-weight: bold;
  margin: 20px;
}

button {
  padding: 10px 20px;
  font-size: 18px;
  cursor: pointer;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 15px;
  margin-top: 20px;
}
